{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "age"
     "bitwarden-cli"
     "curl"
     "gh"
     "git"
     "jq"
     "neovim"
     "node"
     "openjdk"
     "wget" -}}
{{ $casks := list
     "hammerspoon"
     "iterm2"
     "signal"
     "zoom"
     "todoist"
     "sublime-text"
     "raycast"
     "spotify" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}

